@media only screen and (max-width: 1360px) {
    header {
        .nav {
            margin-left: 440px;
        }
        .Logo {
            margin-left: 70px !important;
        }
    }
    .info {
        margin-left: 1020px;
    }
    .login {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1170px) {
    header {
        .head {
            height: 180px;
        }
        .nav {
            margin-top: 25px;
            margin-left: 230px;
        }
        .Logo {
            margin-left: 430px !important;
        }
    }
    .info {
        margin-left: 806px;
    }
    .login {
        margin-left: 230px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        .nav {
            margin-left: 180px;
        }
        .Logo {
            margin-left: 370px !important;
        }
    }
    .info {
        margin-left: 756px;
    }
    .login {
        margin-left: 178px;
    }
    .free {
        width: 890px;
    }
}

@media only screen and (max-width: 1029px) {
    .login {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 405px) {
    header {
        .logo {
            margin-left: 20px !important;
        }
        .burger {
            margin-left: 62%;
        }
    }
}